<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.jcartstoreback.dao.ProductOperationMapper">
  <resultMap id="BaseResultMap" type="com.yh.jcartstoreback.po.ProductOperation">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="day_count" jdbcType="INTEGER" property="dayCount" />
    <result column="recent_time" jdbcType="TIMESTAMP" property="recentTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yh.jcartstoreback.po.ProductOperation">
    <result column="add_count" jdbcType="LONGVARCHAR" property="addCount" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, day_count, recent_time
  </sql>
  <sql id="Blob_Column_List">
    add_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jcart_product_operation
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jcart_product_operation
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yh.jcartstoreback.po.ProductOperation">
    insert into jcart_product_operation (product_id, day_count, recent_time, 
      add_count)
    values (#{productId,jdbcType=INTEGER}, #{dayCount,jdbcType=INTEGER}, #{recentTime,jdbcType=TIMESTAMP}, 
      #{addCount,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.jcartstoreback.po.ProductOperation">
    insert into jcart_product_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="dayCount != null">
        day_count,
      </if>
      <if test="recentTime != null">
        recent_time,
      </if>
      <if test="addCount != null">
        add_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="dayCount != null">
        #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="recentTime != null">
        #{recentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addCount != null">
        #{addCount,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.jcartstoreback.po.ProductOperation">
    update jcart_product_operation
    <set>
      <if test="dayCount != null">
        day_count = #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="recentTime != null">
        recent_time = #{recentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addCount != null">
        add_count = #{addCount,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yh.jcartstoreback.po.ProductOperation">
    update jcart_product_operation
    set day_count = #{dayCount,jdbcType=INTEGER},
      recent_time = #{recentTime,jdbcType=TIMESTAMP},
      add_count = #{addCount,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.jcartstoreback.po.ProductOperation">
    update jcart_product_operation
    set day_count = #{dayCount,jdbcType=INTEGER},
      recent_time = #{recentTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <select id="selectHotProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jcart_product_operation
    order by day_count desc limit 10
  </select>
</mapper>